org: gonzalodst
service: api-auth

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::389752090540:role/LabRole
  environment:
    USUARIOS_TABLE: ${sls:stage}-t_usuarios
    JWT_SECRET: ${env:JWT_SECRET, 'utec'}

functions:
  crearUsuario:
    handler: CrearUsuario.lambda_handler
    events:
      - http:
          path: /auth/registro
          method: post

  loginUsuario:
    handler: LoginUsuario.lambda_handler
    events:
      - http:
          path: /auth/login
          method: post

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USUARIOS_TABLE}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST